.crewContainer {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: baseline;
  color: #fff;
  gap: 100px;
  padding-left: 320px;
  padding-top: 220px;
}
.crewContainer p {
  width: 44ch;
}
.crewContainer img {
  position: absolute;
  bottom: 0;
  right: 200px;
  object-fit: cover;
}
.crewTitle {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 180px;
}
.crewTitle h1 {
  font-family: "Roboto";
  letter-spacing: 4px;
  font-weight: bold;
}
.crewTitle span {
  color: #888;
  font-weight: bold;
  display: block;
  font-size: 26px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.crewContainer h2 {
  color: #888c95;
  font-weight: 100;
  font-size: 2rem;
  font-family: "Cinzel", serif;
  margin-bottom: 20px;
}
.crewContainer p {
  font-family: "Roboto";
  line-height: 1.5;
  width: 441px;
  color: #e8e9f4;
  font-size: 18px;
  height: 100px;
  margin-bottom: 100px;
}
.nameH1 {
  font-size: 4rem;
  font-family: "Cinzel", serif;
  font-weight: 100;
  letter-spacing: 4;
  margin-bottom: 50px;
}
.spanDiv {
  display: flex;
  gap: 25px;
}
.spanDiv span {
  height: 15px;
  width: 15px;
  background-color: #888;
  border-radius: 50%;
  cursor: pointer;
}
.selected {
  background-color: white !important;
}
